
<configuration>
<property>
 <name>fs.defaultFS</name>
 <value>hdfs://mycluster</value>
 </property>
 <property>
 <name>dfs.journalnode.edits.dir</name>
 <value>{{ jn_data_dir }}</value>
 </property>
 <property>
 <name>ha.zookeeper.quorum</name>
 <value>{% for host in groups['jnodes'] %} {{host }}:2181{% endfor %}</value>
 </property>
</configuration>

